body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0!important;
}

.color-yellow {
    color: yellow;
}

.color-white {
    color: white;
}

.w-50 {
    width: 50%;
}

table {
    width: 50%;
    margin-inline: auto;
    font-size: larger;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th,
td {
    padding: .3em;
}

th {
    background-color: black;
    color: white;
}


.diaAtual {
    color: yellow;
}

.tabelaEscala {
    height: 20%;

}

.proximaEscala {
    height: 80vh;
    text-align: center;
    display: flex;
}

.proximaEscala>div>h1 {
    text-transform: uppercase;
    margin-top: 2em;
    font-size: 4em;
}

.proximaEscala>div>p {
    background-color: black;
    color: aliceblue;
    font-size: 4em;
    font-weight: bolder;
    padding: .5em;
    border-radius: .2em;
    width: 40%;
    min-height: 2.5em;
    margin-inline: auto;
    align-content: center;
}